---
import Header from "../common/components/Header.astro";
import Links from "../common/components/Links.astro";
import Social from "../common/components/Social.astro";
import { links, socials } from "../data/data";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Diaz Servicios SRL">
  <!-- <main class="container"> -->
  <Header />
  <Links links={links} />
  <Social socials={socials} />

  <!-- </main> -->
</Layout>

<style>
  .container {
    width: 90%;
    max-width: var(--max-width);
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 0;
  }
</style>
